body {
  font-family: italic;
  margin: 0;
  padding: 0;
  background-color: cyan;
  color: ;
}

#container {
  padding: 50px 0;
  width: 500px;
  margin: 0 auto;
}

.link {
  list-style: none;
  color: ;
  font-size: 2em;
}

.link a {
  color: white ;
}

a {
  color: yellow;
  transition: color 500ms
}

a:hover {
  color: yellow;
}